/*
    ToDos:
    - rework cv for download
    - german translation
    */
:root{
  --dark-white:         #ababab;
  --white:              #fff;
  --bright-red:         #ff004f;
  --dark-red:           #81062d;
  --black:              #080808;
  --bright-black:       #262626;
  --bright-bright-black:#333333;
  --bright-green:       #61b752;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* the font family is set to 'Poppins', which is a specific typeface or font. If the browser does not have 'Poppins' installed on the user's system, it will use a fallback font specified by the "sans-serif" keyword. The "sans-serif" keyword is a generic font family that refers to any font without serifs (the small decorative lines at the end of strokes in letters), which includes popular fonts such as Arial, Helvetica, and Verdana. */
  box-sizing: border-box; /*By default, when we specify the width or height of an HTML element using CSS, the browser calculates those values based on the content width and height plus any padding and border that is added to the element. This can sometimes lead to unexpected layout issues, especially when dealing with responsive design. The "box-sizing" property allows us to change this default behavior. When "box-sizing" is set to "border-box", the width and height values specified for an element include the content, padding, and border, all within the specified dimensions. This ensures that the total size of the box remains constant, regardless of how much padding or border is added. */
}
html{
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
}
body{
  background: var(--black);
  color: var(--white);
  /*overflow-x: hidden; /* Hide horizontal scrollbar added on body and html, to prevent page scrolling left/right */
  /* if any element uses overflow hidden, then navbar can not use sticky: https://www.designcise.com/web/tutorial/how-to-fix-issues-with-css-position-sticky-not-working*/
}
#header{
  width: 100%;
  height: 1000px;
  max-height: 100vh; /* topin: should be deleted, because otherwise the background image goes into the left side */
  max-height: -webkit-fill-available;
  background-image: url(images/background_image.png);
  background-size: cover;
  background-position: center;
}
  nav{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    position: sticky;
      top: 0px;
    z-index: 3; 
  }
    .logo{
      width: clamp(50px, 16vw + 50px, 140px);
    }
    nav ul li{
      display: inline-block; /* horizontal alignment */
      margin: 10px 20px;
    }
      nav ul a{
        color: #fff;
        text-decoration: none;
        font-size: clamp(1rem, 1vw + 0.5rem, 1.2rem);
        position: relative; /* relative for the underline */
      }
      nav ul a::after{
        content: '';
        width: 0;
        height: 3px;
        background: var(--bright-red);
        position: absolute; /* absolute to the a tag */
        left: 0;
        bottom: -6px;
        transition: 0.5s;
      }
      nav ul a:hover::after{
        width: 100%;
      }
  .container{
      padding: 10px 10%;
    }
      .header-text{
        margin-top: 20px;
        font-size: clamp(1rem, 3vw + 0.5rem, 2rem);
        max-width: 50vw;
      }
        .header-text h1{
          font-size: clamp(1rem, 5vw + 0.5rem, 3rem);
          margin-top: 20px;
        }
        .header-text h1 span{
          color: var(--bright-red);
        }
        .header-text h2{
          font-size: clamp(1rem, 2.5vw + 0.5rem, 1.5rem);
          margin-top: 20px;
        }
/******************* About Me ****************/
#about{
  padding: 30px 0;
}
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
    .about-col-1{
      flex-basis: 30%; /* The width of the column will be 35%. When flex-basis is set to 50%, it means that the initial main size of the flex item will be 50% of the width or height of its containing block�s content area. https://youtu.be/jx4FtPlDXJg */
      transition: flex-basis 2s; 
    }
      .about-col-1 img{
        border-radius: 15px;
        width: 100%;
        min-width: 200px;
      }

    .about-col-2{
      flex-basis: 50%;
    }
      .sub-title{
        font-size: clamp(1rem, 5vw + 0.5rem, 5rem);
        font-weight: 600;
      }
      .about-col-2 p{
        margin: 5px;
      }
      .tab-titles{
        margin: 20px 0 0 0;
        display: flex;
          justify-content: space-around;
          flex-direction: row;
      }
        .tab-links{
          font-size: 1.1rem;
          font-weight: 600;
          cursor: pointer;
          
          text-decoration: underline;
            text-decoration-color: var(--bright-black);
            text-decoration-thickness: 3px;
          transition: text-decoration-color 0.5s;
          padding: 10px;
          border: none;
        }
        /* The ::after selector inserts something after the content of each selected element(s).*/
        .tab-links.active-link{
          position: relative;
          text-decoration-color: var(--dark-red);
        }
        .tab-links.active-link::after{
          /* background color for the tab */
          content: '';
          width: 100%;
          height: 130%;
          position: absolute;
            left: 0;
            bottom: -8px;
          background: var(--bright-black);
          z-index: -1;
          border-radius: 5px;
        }
      .tab-contents{
        display: none;
      }
      .tab-contents.active-tab{
        display: block;
        background: var(--bright-black);
        border-radius: 5px;
        padding: 10px;
        border: none;
      }
        .tab-contents ul li{
          list-style: none;
          margin: 15px 0 0 0;
        }
          .tab-contents ul li span{
            font-weight: 600;
          }
          .about-col-2 p a, #education a, #experience a{
            text-decoration: underline;
              text-decoration-color: var(--bright-bright-black);
              text-decoration-thickness: 3px;
            color: var(--white);
            transition: text-decoration-color 0.5s;
          }
          .about-col-2 p a:active, #education a:active, #experience a:active{
              text-decoration-color: var(--dark-white);
          }
/* *************************** services **************************** */
#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  /*
  The grid-template-columns property specifies the size and number of columns in a grid layout. 
  The value repeat(auto-fit, minmax(250px, 1fr)) 
    The repeat function takes two arguments: the first argument specifies the number of times to repeat the pattern, and the second argument specifies the pattern to repeat.
  That means that the grid will create as many columns as can fit in the container, 
  with a minimum size of 250px and a maximum size of 1fr. 
    The auto-fit keyword tells the grid to automatically fit the columns into the available space. 
    The minmax() function sets the minimum and maximum size of the columns. 
    
    In this case, the minimum size is 250px and the maximum size is 1fr, which means that the column will take up one fraction of the available space.
    fr is a unit of measurement in CSS that represents a fraction of the available space in a grid container. 
    For example, if you have a grid container with three columns and you set grid-template-columns: 1fr 2fr 1fr, the middle column will take up twice as much space as the other two columns.
  */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  /* grid-gap is a shorthand property in CSS that specifies the size of the gap between rows and columns in a grid layout. It can take one or two values: if you provide one value, it will set the size of the gap between both rows and columns; if you provide two values, the first value will set the size of the row gap and the second value will set the size of the column gap.
  For example, if you have a grid container and you set grid-gap: 10px 20px, it means that there will be a 10px gap between rows and a 20px gap between columns.
  Note that grid-gap is a shorthand property for grid-row-gap and grid-column-gap, which can be used to set the size of the row and column gaps separately. */
  grid-gap: 40px;
  margin: 20px 0;
}
/* not make only the link but the whole grid element click able (href)*/
.services-list a{
  text-decoration: none;
  color: var(--white);  
  display: block; /* a tag is an inline element, so we have to change its display property to block/inline-block. The difference between block and inline-block is, that inline-block does not add a line-break after the element */
}
  .services-list div{
    background: #262626;
    padding: 1.8rem;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
  }
  .services-list div:active{
    background: #310010;
  }
  .services-list div i{
    font-size: 40px;
    margin: 0 0 10px 0;
  }
  .services-list div h2{
    font-size: 2rem;
    margin: 0 0 10px 0;
    font-weight: 600;
  }
  .services-list div p{
    margin: 0 0 10px 0;
  }

/* ********************** portfolio ************************* */
#portfolio{
  padding: 10px 0;
}
.work-list{
  display: grid;
  /*
  The grid-template-columns property specifies the size and number of columns in a grid layout. 
  The value repeat(auto-fit, minmax(250px, 1fr)) 
    The repeat function takes two arguments: the first argument specifies the number of times to repeat the pattern, and the second argument specifies the pattern to repeat.
  That means that the grid will create as many columns as can fit in the container, 
  with a minimum size of 250px and a maximum size of 1fr. 
    The auto-fit keyword tells the grid to automatically fit the columns into the available space. 
    The minmax() function sets the minimum and maximum size of the columns. 
    
    In this case, the minimum size is 250px and the maximum size is 1fr, which means that the column will take up one fraction of the available space.
  fr is a unit of measurement in CSS that represents a fraction of the available space in a grid container. 
    For example, if you have a grid container with three columns and you set grid-template-columns: 1fr 2fr 1fr, the middle column will take up twice as much space as the other two columns.
  */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-gap is a shorthand property in CSS that specifies the size of the gap between rows and columns in a grid layout. It can take one or two values: if you provide one value, it will set the size of the gap between both rows and columns; if you provide two values, the first value will set the size of the row gap and the second value will set the size of the column gap.
  For example, if you have a grid container and you set grid-gap: 10px 20px, it means that there will be a 10px gap between rows and a 20px gap between columns.
  Note that grid-gap is a shorthand property for grid-row-gap and grid-column-gap, which can be used to set the size of the row and column gaps separately. */
  grid-gap: 40px;
  margin: 20px 0;
}
.work{
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
  .work a{
    text-decoration: none;
    color: #fff;
  }
    .work img{
      width: 100%;
      border-radius: 10px;
      display: block;
      transition: transform 0.5s;
    }
    .work .layer{
      width: 100%;
      height: 45%;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
        left: 0;
        bottom: 0;
      overflow: hidden;
      display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      padding: 0 40px;
      text-align: center;
    }
    .layer h3{
      font-weight: 600;
      font-size: clamp(0.5rem, 2vw + 0.5rem, 1.2rem);
    }
    .layer p{
      font-weight: 500;
      font-size: clamp(0.5rem, 2vw + 0.5rem, 1.2rem);
    }
    .layer p i{
      margin-top: 20px;
      color: #81062d;
      text-decoration: none;
      font-size: clamp(0.5rem, 3.5vw + 0.5rem, 1.2rem);
      line-height: clamp(20px, 3.5vw + 20px, 60px);
      background: #fff;
      width: clamp(20px, 3.5vw + 20px, 60px);
      height: clamp(20px, 3.5vw + 20px, 60px);
      border-radius: 50%;
    }
.btn{
  display: block;
  margin: 50px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #81062d;
  padding: 14px 50px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: background 0.3s;
  text-align: center;
}
.btn:active{
  background: #81062d;
}
/* ********************* contact me ********************** */
.contact-left{
  min-width: 210px;
}
  .contact-left p{
    margin-top: 30px;
  }
    .contact-left p i{
      color: #ff004f;
      margin-right: 15px;
      font-size: 1.5rem;
    }
    .social-icons{
      margin-top: 30px;
    }
    .social-icons a{
      text-decoration: none;
      font-size: 3rem;
      margin-right: 15px;
      color: var(--dark-white);
      display: inline-block; /* inline: the icons are inline, block: each block can be given a height.*/
    }
    .social-icons a:active{
      color: var(--dark-red);
    }
    .btn.btn2{
      display: inline-block;
      background-color: var(--dark-red);
    }
.contact-right{
  /* flex-basis: 100%; */
  min-width: 100px;
  width: calc(30vw + 200px);
  max-width: 100%; 
}
  .contact-right form{
    width: 100%;
  }
  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: var(--bright-black);
    padding: calc(0.5rem + 1vw);
    margin: 1rem 0.5rem 1rem 0.5rem;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 6px
  }
  form .btn2{
    padding: 14PX 60px;
    font-size: 1.1rem;
    margin-top: 20px;
    cursor: pointer;
  }
  #msg{
    color: #bright-green;
    margin-top: -50px;
    display: block;
  }
/***************** footer *************/
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: var(--bright-black);
  font-weight: 300;
  margin-top: 20px;
}
.copyright i{
  color:var(--bright-red)
}


/****************** css for small screens *******************/
nav .fas{
  display: none;
}
@media only screen and (max-width: 600px){
  #header{
    background-image: url(images/phone_background_image.png);
  }
  nav ul .fas, #openmenu{
    margin: 20px;
  }
  nav .fas{
    display: block;
    font-size: 1.8rem;
  }
  nav ul{
    background: var(--bright-black);
    position: fixed;
    top: 0;
    right: -200px;
    width:200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
    nav ul a{
      text-decoration: none;
      color: var(--white);
      background-color: var(--dark-red);
    }
    nav ul a:hover{
      background-color: var(--dark-red);
    }
      nav ul a li{
        display: block;
        padding: 25px;
      }
      nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
      }
  .about-col-1, .about-col-2{
    flex-basis: 100%;
    transition: flex-basis 2s;
  }
  .about-col-1{
    margin-bottom: 30px;
  }
  .about-col-2{
    font-size: 1.1rem;
  }

}

 