*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* the font family is set to 'Poppins', which is a specific typeface or font. If the browser does not have 'Poppins' installed on the user's system, it will use a fallback font specified by the "sans-serif" keyword. The "sans-serif" keyword is a generic font family that refers to any font without serifs (the small decorative lines at the end of strokes in letters), which includes popular fonts such as Arial, Helvetica, and Verdana. */
  box-sizing: border-box; /*By default, when we specify the width or height of an HTML element using CSS, the browser calculates those values based on the content width and height plus any padding and border that is added to the element. This can sometimes lead to unexpected layout issues, especially when dealing with responsive design. The "box-sizing" property allows us to change this default behavior. When "box-sizing" is set to "border-box", the width and height values specified for an element include the content, padding, and border, all within the specified dimensions. This ensures that the total size of the box remains constant, regardless of how much padding or border is added. */
}
body{
  background: #080808;
  color: #fff;
}
#header{
  width: 100%;
  height: 100vh; /* topin: should be deleted, because otherwise the background image goes into the left side */
  background-image: url(images/background_image.png);
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
.logo{
  width: 140px;
}
nav ul li{
  display: inline-block; /* horizontal alignment */
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative; /* relative for the underline */
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute; /* absolute to the a tag */
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width: 100%;
}
.header-text{
  margin-top: 20px;
  font-size: 30px;
}

.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}